<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input v-model="username" type="text" placeholder="Username...">
        <input v-model="password" type="password" placeholder="Password...">
        <p v-if="errorMessage">{{errorMessage}}</p>
        <input @click="Login" type="button" value="Login">
    </div>
    <script src="index.js"></script>
</body>
</html>