<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Create User</title>
</head>
<body>


<h1>Sign Up Form</h1>

<label for=""><b>Email</b></label>
<br><li><input v-model="email" placeholder="Enter E-mail" type="text" /> </li></br>
<label for="password"><b>Password</b></label>
<br><li><input v-model="password" placeholder="Enter Password" type="text" /> </li></br>

<button type="submit">Sign up</button>
</div>

</body>
</html>